<h1>Welcome to Y Recipes App!</h1>
<p> How do you want to start? </p>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
```