<div class="welcome-container">
  <h1 class="welcome-title">Welcome to Y Recipes App!</h1>
  <p class="welcome-message">How do you want to start?</p>
  <div class="welcome-buttons">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary signup-button" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary signin-button" %>
  </div>
</div>
