<div class="form-page-container">
  <h1 class="pageTitle">New Recipe</h1>

  <%= render "form", recipe: @recipe %>

  <div class="back-link">
    <%= link_to "Back to Recipes", recipes_path %>
  </div>
</div>
