@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin table-styles {
  width: 70%;
  border: 1px solid black;
  margin-top: 24px;
  width: 95%;

  th {
    font-size: 1rem;
    padding: 5px;
    background-color: #f5f5f5;
  }

  td {
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    padding: 5px;
  }
}